nav.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand(href='/',data-toggle="tooltip",data-placement="bottom",title="Home")
    img(src="/img/BlinkyLogo-Text.png" ,height="50px")
  #navbarNavDropdown.navbar-expand
    ul.navbar-nav
      li.nav-item.active
        a.nav-link.fas.fa-home.fa-2x(href='/',data-toggle="tooltip",data-placement="bottom",title="Home")
          span.sr-only (current)
      li.nav-item
        a.nav-link.fas.fa-glasses.fa-2x(href='/readmore',data-toggle="tooltip",data-placement="bottom",title="Read More")
      li.nav-item
        a.nav-link.fas.fa-book.fa-2x(href='/tutorial',data-toggle="tooltip",data-placement="bottom",title="Tutorial")
      li.nav-item
        a.nav-link.fab.fa-github.fa-2x(href='https://github.com/Blinky-Lite', target='_blank',data-toggle="tooltip",data-placement="bottom",title="Github")
      li.nav-item
        a.nav-link.fab.fa-twitter.fa-2x(href='https://twitter.com/BlinkyLite', target='_blank',data-toggle="tooltip",data-placement="bottom",title="Twitter")
      //li.nav-item
        a.nav-link.fas.fa-video.fa-2x(href='https://blinky-lite-demo.herokuapp.com/ui/#/0',target='_blank',data-toggle="tooltip",data-placement="bottom",title="Demo")
      li.nav-item
        a.nav-link.fas.fa-envelope.fa-2x(href='mailto:info@blinky-lite.io',data-toggle="tooltip",data-placement="bottom",title="Contact")
