extends layout
block content
  .jumbotron.jumbotron1
    h1.jumbotron-title.jumbotron-title1 Setting Up a Raspberry Pi Zero for Blinky-Lite
    p The Raspberry Pi Zero computer is the integral component of the Blinky-Lite. 
      | It can be used as device message controller, MQTT broker and Node-RED web application. 
      | This section will show you how to setup a Raspberry Pi Zero so it can function seamlessly in Blinky-Lite. 
      | Use the 
      i Ctrl-c 
      | to copy the text from this tutorial and then right click in the terminal and paste the text. 
    h2 
      a(NAME='contents') Table of Contents
    p
      ul
        li You don't have a Linux computer, start from here
          ul
            li
              a.jumbotron-link(href='#diskImageWin') Setting up the Disk Image from a Windows computer
            li
              a.jumbotron-link(href='#raspiDesktop') Setting up a Raspberry Pi Zero desktop computer
            li
              a.jumbotron-link(href='#connectingPi0') Connecting to a Raspberry Pi Zero from the Raspberry Pi Zero desktop computer
        p      
        li You have a Linux computer, start from here
          ul
            li  
              a.jumbotron-link(href='#diskImage') Setting up the Disk Image from a Linux computer
            li
              a.jumbotron-link(href='#connecting') Connecting to a Raspberry Pi Zero from a Linux computer
        p
        li
          a.jumbotron-link(href='#node') Setting up node.js, npm, and screen
        li 
          a.jumbotron-link(href='#arduino') Installing an Arduino Programing Environment
        li 
          a.jumbotron-link(href='#mqtt') Installing an MQTT Broker
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title 
        a(NAME='diskImageWin') Setting up the Disk Image from a Windows computer 
        br
        span(style='font-size: small;')
          a(href='#contents') Table of contents
      .card-body.card1-body
        p.card1-text On a Windows desktop computer, download Win32 Disk Imager at: 
          a(href='http://sourceforge.net/projects/win32diskimager/files/latest/download', target='_blank') http://sourceforge.net/projects/win32diskimager/files/latest/download
          br
          | Unzip the file using WinRAR. 
          br
          br
          | Open the Win32 Disk Imager and select the unzipped image file and specify the device of the microSD card. 
          | Afterwards press Write. 
          br
          img.img-max(src='/img/tutorial/Win32DiskImager.png', width='95%')
          br 
          | Confirm the overwrite pop-up with Yes.
          br
          | Once the disk copy is complete, eject the disk and re-insert the disk. 
          | You should see the name of the microSD changed to boot.
          br
          br 
          | The Raspberry Pi image now comes with SSH disabled. 
          | To enable it, press the Windows Key and r at the same time. 
          | At the "Run" prompt, enter "cmd" (without the quotes) and hit enter.
          br
          br
          | At the C> prompt (or whatever it is), type "dir F:" (assuming the drive letter of the SD card is F) and hit enter.
          br
          | You will see a bunch of files.
          br
          | At the C> prompt, type: "echo.>F:\ssh" and hit enter.
          br
          br
          | To connect to a wireless network, create another file on the card called wpa_supplicant.conf
          br
          | At the C> prompt, type: "echo.>F:\wpa_supplicant.conf" and hit enter.
          br
          br
          | Use Notepad to edit the file in the following way:
          br
          code.card.card2 
            | ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
            br
            | update_config=1
            br
            | country=
            b
              i your contry abbreviation (for example SE for Sweden)
            br
            br
            | network={
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;ssid="
            b
              i your-wireless-ssid
            | "
            br 
            | &nbsp;&nbsp;&nbsp;&nbsp;psk="
            b
              i your-wireless-ssid-password
            | "
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;key_mgmt=WPA-PSK
            br
            | }
          br 
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title 
        a(NAME='raspiDesktop') Setting up a Raspberry Pi Zero desktop computer 
        br
        span(style='font-size: small;')
          a(href='#contents') Table of contents
      .card-body.card1-body
        p.card1-text             
          | Eject the sd card and place it into the Raspberry Pi Zero.
          | Connect the Raspberry Pi Zero to your screen and mouse/keyboard.
          br
          img.img-max(src='/img/tutorial/Pi0Comp.png', width='95%')
          br 
          |Indicative component references can be found below:
          br
          a(href='https://www.electrokit.com/en/product/adapter-hdmi-hona-mini-hane-2/', target='_blank') https://www.electrokit.com/en/product/adapter-hdmi-hona-mini-hane-2/
          br
          a(href='https://www.electrokit.com/en/product/usb-otg-adapter-2/', target='_blank') https://www.electrokit.com/en/product/usb-otg-adapter-2/
          br
          a(href='https://www.electrokit.com/en/product/usb-kabel-a-hane-micro-b-hane-15cm/', target='_blank') https://www.electrokit.com/en/product/usb-kabel-a-hane-micro-b-hane-15cm/
          br 
          a(href='https://www.spelbutiken.se/produkt/logitech-mk270-wireless-keyboard-and-mouse-combo-set/AK934H/', target='_blank') https://www.spelbutiken.se/produkt/logitech-mk270-wireless-keyboard-and-mouse-combo-set/AK934H/
          br
          br           
          | The Raspberry Pi Zero will connect to your router after it is powered up. 
          | Open a terminal. 
          br
          | Now configure the Raspberry Pi Zero by running the configuration program:
          br
          code.card.card2 sudo raspi-config
          br
          br
          | The 
          b raspi-config 
          | program looks as below:
          br
          img.img-max(src='/img/tutorial/raspi_config.png', width='95%')
          br
        ul.card1-text
          li First change the password - Menu Iterm 1
          li Under Menu Item 2, change the hostname. Do not set up the wifi, we will do that later
          li Under Item 5, Enable both SSH (P2) and VNC (P3). We will need VNC later
          li Under Item 7, set the screen resolution - Choice A5. 
            b
              i  Default - Monitor preferred resolution
          li Under Item 7, Expand the file system - Choice A1
          li Under Item 5, Serial Port (P6) select 
            b No 
            | for 
            i Would you like a login shell to be accessible over serial?
            |  Select 
            b Yes 
            | for 
            i Would you like the serial port hardware to be enabled?
        p.card1-text
          | You should get an screen lookin as the following:
          br
          img.img-max(src='/img/tutorial/raspi-config-serial.png', width='95%')
          br
          | Using the arrow keys navigate to 
          b Finish 
          | to exit the configuration program and reboot the Raspberry Pi Zero
        p.card1-text On your Desktop, download the RealVNC Viewer at 
          a(href='https://www.realvnc.com/en/connect/download/viewer/raspberrypi/', target='_blank') https://www.realvnc.com/en/connect/download/viewer/raspberrypi/
          br
          | Open a terminal and enter
          br
          code.card.card2 sudo passwd pi
          br
          br
          | Open the Downloads folder and install the file.
          | Authenticate the installation with the pi password set before.
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title 
        a(NAME='connectingPi0') Connecting to a Raspberry Pi Zero from the Raspberry Pi Zero desktop computer 
        br
        span(style='font-size: small;')
          a(href='#contents') Table of contents
      .card-body.card1-body
        p.card1-text 
          | Open a terminal on the Raspberry Pi Zero desktop computer and ssh into the Raspberry Pi Zero:
          br
          code.card.card2 ssh pi@raspberrypi.local
          br
          | Confirm the ECDSA key fingerprint with yes.
          | In case, repeat the ssh connection.
          br
          | The default password for the Raspberry Pi Zero is 
          b
            i raspberry  
          | .
          br
          br 
          | Now configure the Raspberry Pi Zero by running the configuration program:
          br
          code.card.card2 sudo raspi-config
          br
          br
          | The 
          b raspi-config 
          | program looks as below:
          br
          img.img-max(src='/img/tutorial/raspi_config.png', width='95%')
          br
        ul.card1-text
          li First change the password - Menu Iterm 1
          li Under Menu Item 2, change the hostname. Do not set up the wifi, we will do that later
          li Under Item 5, Enable both SSH (P2) and VNC (P3). We will need VNC later
          li Under Item 7, set the screen resolution (for the VNC server)  - Choice A5. I prefer
            b
              i  DMT Mode 35 1280x1024 60Hz 5:4
          li Under Item 7, Expand the file system - Choice A1
          li Under Item 5, Serial Port (P6) select 
            b No 
            | for 
            i Would you like a login shell to be accessible over serial?
            |  Select 
            b Yes 
            | for 
            i Would you like the serial port hardware to be enabled?
        p.card1-text
          | You should get an screen lookin as the following:
          br
          img.img-max(src='/img/tutorial/raspi-config-serial.png', width='95%')
          br
          | Using the arrow keys navigate to 
          b Finish 
          | to exit the configuration program and reboot the Raspberry Pi Zero.
          br
          br
          | We will now connect to the Raspberry Pi Zero. 
          | It is easy to finish the rest of the configuration from the Raspberry Pi Zero desktop 
          | and the VNC Viewer will allow you to run programs such as the Arduino 
          | programing environment on the Raspberry Pi Zero.
        ul.card1-text
          li Open the VNC viewer and make a New Connection under the File menu. Change the VNC server to: 
            b
              i hostname.local:5900 
            | where hostname is what you entered in Item 2 of the raspi-config program. 
          li Close the new connection dialog and double click on your new connection in the VNC Viewer window. 
          li The VNC viewer should connect to the RaspberryPi. At first it will warn you of an identity check. 
            | Just click continue. 
          li Next you will be asked for a username and password. 
            | The username is pi. The password is the password you entered in Item 2 of the raspi-config program.
        p.card1-text You should see a window as below:
          img.img-max(src='/img/tutorial/raspiDesktop.png', width='95%')
        p.card1-text 
          br
          | A nice GUI version of the configuration program can be found under the Preferences sub-menu of the Raspberry Pi menu.
          br
          img.img-max(src='/img/tutorial/raspiDesktopConfig.png')
        p.card1-text
          | Open the GUI Raspberry Pi Configuration program and under the Localisation tab, set the Locale, Timezone, and Keyboard. 
          | The Raspberry Pi Zero will have to be booted for these changes to take effect.                                        
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title 
        a(NAME='diskImage') Setting up the Disk Image from a Linux computer 
        br
        span(style='font-size: small;')
          a(href='#contents') Table of contents
      .card-body.card1-body
        p.card1-text On a Linux desktop computer, download the latest Raspberry Pi image at: 
          a(href='https://downloads.raspberrypi.org/raspbian_latest', target='_blank') https://downloads.raspberrypi.org/raspbian_latest
          br
          | The downloaded file will have a name like 
          b YYYY-MM-DD-raspbian-stretch.zip
          br 
          | Where YYYY-MM-DD is the year, month, and date of the release. Change directory to the location of the downloaded file and unzip it:
          br 
          code.card.card2 unzip YYYY-MM-DD-raspbian-stretch.zip
          br
          | Before you insert a SD card into your computer identify the names of the drives on your computer by typing:
          br
          code.card.card2 df -h
          br
          br
          | You will see something similar to the screenshot below:
          br
          img.img-max(src='/img/tutorial/screenBeforeSD.png', width='95%')
          br
          br
          | Now, insert an 8GB (or greater) SD card into your computer. Type:
          br
          code.card.card2  df -h
          br
          | to determine the name of the SD card
          br
          img.img-max(src='/img/tutorial/screenAfterSD.png', width='95%')
          br
          br
          | In this example the name of the SD card is mmcblk0  (p1 is the partition).
          | Copy the disk image 
          b 2018-04-18-raspbian-stretch.img 
          | to the SD card
          br
          code.card.card2 sudo dd if=
            b
              i YYYY-MM-DD
            | -raspbian-stretch.img of=/dev/
            b
              i SD-CARD-NAME 
            |  bs=1M
          br
          | Where in this example 
          b 
            i SD-CARD-NAME 
          | is mmcblk0. Once the disk copy is complete, eject the disk and re-insert the disk. 
          | You should see two partitions show up on your linux desktop. 
          br
          br
          | The Raspberry Pi image now comes with SSH disabled. 
          | To enable it, open the boot partition of the sd card and create a file named ssh. 
          | From a Linux terminal on your desktop computer enter:
          br
          code.card.card2 sudo nano /media/$USER/boot/ssh
          br
          | Type a couple of characters and save 
          i (cntrl-x).
          br
          br 
          | For the 
          b Raspberry Pi Zero
          | , there is no ethernet connection so you need to give 
          | it the information to connect to your wireless network. Edit the 
          b wpa_supplicant.conf
          |  file  
          | on the rootfs partition of the sd card. From a linux terminal on your desktop computer enter:
          br
          code.card.card2 sudo nano /media/$USER/rootfs/etc/wpa_supplicant/wpa_supplicant.conf
          br
          | Add the following lines to the file where 
          b
            i country-abbrev
          |  is your contry abbreviation (for example in Sweden it is SE), 
          b
            i your-wireless-ssid
          |  is your wireless ssid and 
          b
            i your-wireless-ssid-password
          |  is your wireless ssid password
          br
          code.card.card2 
            | ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
            br
            | update_config=1
            br
            | country=
            b
              i country-abbrev
            br
            br
            | network={
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;ssid="
            b
              i your-wireless-ssid
            | "
            br 
            | &nbsp;&nbsp;&nbsp;&nbsp;psk="
            b
              i your-wireless-ssid-password
            | "
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;key_mgmt=WPA-PSK
            br
            | }
          br
          | and save 
          i (cntrl-x).
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title 
        a(NAME='connecting') Connecting to a Raspberry Pi Zero from a Linux computer 
        br
        span(style='font-size: small;')
          a(href='#contents') Table of contents
      .card-body.card1-body
        p.card1-text
          | Eject the sd card and place it into the Raspberry Pi Zero. 
          | The Raspberry Pi Zero will connect to your router after it is powered up. 
          | Open a Linux terminal and ssh into the Raspberry Pi Zero:
          br
          code.card.card2 ssh pi@raspberrypi.local
          br
          | Confirm the ECDSA key fingerprint with yes.
          | In case, repeat the ssh connection.
          br
          | The default password for the Raspberry Pi Zero is 
          b
            i raspberry  
          | . 
          br
          br 
          | Now configure the Raspberry Pi Zero by running the configuration program:
          br
          code.card.card2 sudo raspi-config
          br
          br
          | The 
          b raspi-config 
          | program looks as below:
          br
          img.img-max(src='/img/tutorial/raspi_config.png', width='95%')
          br
        ul.card1-text
          li First change the password - Menu Iterm 1
          li Under Menu Item 2, change the hostname. Do not set up the wifi, we will do that later
          li Under Item 5, Enable both SSH (P2) and VNC (P3). We will need VNC later
          li Under Item 7, set the screen resolution (for the VNC server)  - Choice A5. I prefer
            b
              i  DMT Mode 35 1280x1024 60Hz 5:4
          li Under Item 7, Expand the file system - Choice A1
          li Under Item 5, Serial Port (P6) select 
            b No 
            | for 
            i Would you like a login shell to be accessible over serial?
            |  Select 
            b Yes 
            | for 
            i Would you like the serial port hardware to be enabled?
        p.card1-text
          | You should get an screen lookin as the following:
          br
          img.img-max(src='/img/tutorial/raspi-config-serial.png', width='95%')
          br
          | Using the arrow keys navigate to 
          b Finish 
          | to exit the configuration program and reboot the Raspberry Pi Zero.
          br
        p.card1-text On your Linux desktop, download the RealVNC Viewer at 
          a(href='https://www.realvnc.com/en/connect/download/viewer/linux/', target='_blank') https://www.realvnc.com/en/connect/download/viewer/linux/
          br
          br
          | We will now connect to the Raspberry Pi Zero. 
          | It is easy to finish the rest of the configuration from the Raspberry Pi Zero desktop 
          | and the VNC Viewer will allow you to run programs such as the Arduino 
          | programing environment on the Raspberry Pi Zero.
        ul.card1-text
          li Open the VNC viewer and make a New Connection under the File menu. Change the VNC server to: 
            b
              i hostname.local:5900 
            | where hostname is what you entered in Item 2 of the raspi-config program. 
          li Close the new connection dialog and double click on your new connection in the VNC Viewer window. 
          li The VNC viewer should connect to the Raspberry Pi Zero. At first it will warn you of an identity check. 
            | Just click continue. 
          li Next you will be asked for a username and password. 
            | The username is pi. The password is the password you entered in Item 2 of the raspi-config program.
        p.card1-text You should see a window as below:
          img.img-max(src='/img/tutorial/raspiDesktop.png', width='95%')
        p.card1-text
          br 
          | A nice GUI version of the configuration program can be found under the Preferences sub-menu of Raspberry Pi menu.
          br
          img.img-max(src='/img/tutorial/raspiDesktopConfig.png')
        p.card1-text
          | Open the GUI Raspberry Configuration Program and under the Localisation tab, set the Locale, Timezone, and Keyboard. 
          | The Raspberry Pi Zero will have to be booted for these changes to take effect.
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title 
        a(NAME='node') Setting up node.js, npm, and screen 
        br
        span(style='font-size: small;')
          a(href='#contents') Table of contents
      .card-body.card1-body
        p.card1-text
          | The Raspberry Pi Zero comes with very old (or no) versions of node.js and npm installed. 
          | In this section we will update node.js and npm. 
          | The Linux application screen  will be used starting the device message adapter on boot.
          br 
          | From your Linux desktop, ssh into the Raspberry Pi Zero
          br
          code.card.card2 ssh pi@hostname.local
          br
          | Where 
          b
            i hostname 
          | is what you entered in Item 2 of the raspi-config program. Check the version of node:
          br
          code.card.card2 node -v
          br
          | As of 2018-04-18 release, the Raspberry Pi ships with node.js at v4.8.2. 
          | To upgrade, check the hardware on your Raspberry Pi.
          br
          code.card.card2 uname -a
          br
          | A 
          b Raspberry Pi 3 
          | runs an ARM7 processor while a 
          b Raspberry Pi Zero
          |  runs  an ARM6 processor. For easier cleanup later, on the ssh session you are 
          | currently running to connect to the Raspberry Pi Zero, change the directory to the Download directory:
          br
          code.card.card2 cd ~/Downloads
          br
          | In a browser go to the nodejs download page at: 
          a(href='https://nodejs.org/en/download/', target='_blank') https://nodejs.org/en/download/
          br
          | The Node.js download page will look as below:
          br
          img.img-max(src='/img/tutorial/nodejsDownload.png', width='95%')
        p.card1-text
          | Find the Linux binary  distribution that matches your Raspberry Pi Zero hardware (most likely ARMv6). 
          | Copy the link location (right click) and in the ssh terminal type:
          br
          code.card.card2 wget https://nodejs.org/dist/vX.YY.Z/node-vX.YY.Z-linux-armv6l.tar.xz
          br
          | Where 
          b
            i vX.YY.Z 
          | is current release of node.js. Then, unzip the file:
          br
          code.card.card2 tar -xf node-
            b
              i vX.YY.Z
            | -linux-armv6l.tar.xz
          br
          | Navigate into the unzipped directory:
          br
          code.card.card2  cd node-
            b
              i vX.YY.Z
            | -linux-armv6l
          br
          | And copy the files to the 
          b 
            i /usr/ 
          | directory by:
          br
          code.card.card2 sudo cp -R * /usr/
          br
          | Now check the version of node.js by:
          br
          code.card.card2 node -v
          br
          | and:
          br
          code.card.card2  npm -v
          br
          | You should see a node version that matches 
          b
            i vX.YY.Z 
          | and an npm version greater than 5.5.
          | You can now delete all the items in the Raspberry Pi Zero Download directory. Go to the home folder (pi@localhost) and type:
          br
          code.card.card2 rm -rf ~/Downloads/*
          br
          | To install 
          b screen 
          | enter:
          br
          code.card.card2  sudo apt-get install screen
          br
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title 
        a(NAME='arduino') Installing an Arduino Programing Environment
        br
        span(style='font-size: small;')
          a(href='#contents')  Table of contents
      .card-body.card1-body
        p.card1-text Open the VNC viewer to your Raspberry Pi Zero and then open the web browser to the software download page: 
          a(href='https://www.arduino.cc/en/Main/Software?', target='_blank') https://www.arduino.cc/en/Main/Software? 
        ul.card1-text
          li Navigate to “Download the Arduino IDE” box and click on the Linux ARM version. 
            | You will be taken to the donate page were you can donate and download the software. 
          li Using the Raspberry Pi Zero File Manager, create a new folder in the home pi directory called Apps. 
          li Copy the Arduino download from the Download folder to the Apps folders. 
          li Right click on the tar file and choose the ‘Extract Here’ menu item. The Arduino app will be extracted. 
          li After extraction, delete the tar file. 
          li Enter the Arduino folder and double click on the install.sh file. A dialog will be opened asking how you would like to run the script. 
          li Choose ‘Execute in Terminal’. After the script has been executed, an icon for the 
            | Arduino programing environment will be placed on the Raspberry Pi Zero desktop and in the Programming menu item.
        p.card1-text To check to make sure everything is working, connect an Arduino (this tutorial will use an Arduino Uno) to the Raspberry Pi Zero via a USB cable. 
        ul.card1-text
          li Open the Arduino program.  
          li Open the Blink sketch under Files->Examples->01.Basics. 
          li Under the Tools menu, choose the correct Port (ie. /dev/ttyACM0) and correct Board (ie. Arduino/Genuino Uno). 
          li Upload the sketch to the Arduino and see that it behaves properly.
        p.card1-text You can learn more about programming the Arduino at: 
          a(href='https://www.arduino.cc/en/Guide/HomePage', target='_blank') https://www.arduino.cc/en/Guide/HomePage
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title 
        a(NAME='mqtt') Installing an MQTT Broker
        br
        span(style='font-size: small;')
          a(href='#contents')  Table of contents
      .card-body.card1-body
        p.card1-text 
          i
            | Note: it is not necessary to setup an MQTT broker on a Blinky-Lite Device Adapter or web application server. This section is for users who want to set-up their own MQTT broker. However, it does not hurt to have an MQTT broker running on any of your Raspberry-Pi’s so I usually install one as the base configuration of all my Raspberry Pi’s. 
        p.card1-text
          | Their are many open source MQTT brokers 
          a(href='https://diyprojects.io/mqtt-mosquitto-communicating-connected-objects-iot/', target='_blank') available 
          | but Blinky-Lite will use Mosquitto supported by the 
          a(href='http://iot.eclipse.org/', target='_blank') Eclipse Foundation. 
          br
          | Open a terminal session into your Raspberry Pi Zero either through an ssh session or from your 
          | Linux desktop RealVNC connection. Once you have a terminal session running on your 
          | Raspberry Pi Zero, install Mosquitto by typing:
          br
          code.card.card2 sudo apt-get install mosquitto
          br
          | Confirm the continue request with Yes. 
          br
          br
          | To run tests on your Raspberry Pi Zero, using  mosquitto_sub clients (to subscribe), 
          | mosquitto_pub (to post messages) and mosquitto_passwd (to set up users and passwords) enter:
          br
          code.card.card2 sudo apt-get install mosquitto-clients
          br
          | Confirm the continue request with Yes. 
          br
          br
          | Then edit the mosquitto configuration file
          br
          code.card.card2 sudo nano /etc/mosquitto/mosquitto.conf
          br
          | by adding to the bottom of the file:
          br
          code.card.card2 
            | allow_anonymous false
            br
            | password_file /etc/mosquitto/pwfile
          br
          | and save and exit (
          i Ctrl-x
          | ). 
          br
          br
          | Now setup the password for the MQTT broker:
          br
          code.card.card2 sudo mosquitto_passwd -c /etc/mosquitto/pwfile 
            i broker-name
          br
          | I usually choose the hostname of the Raspberry Pi Zero as the broker-name. 
          | The program will ask you for the a password for your broker. 
          | After you have chosen the password, reboot your Raspberry Pi Zero:
          br
          code.card.card2 sudo reboot
          br 
          br
          | The Mosquitto MQTT broker should start on boot. When the Raspberry Pi Zero comes back up, 
          | login and check that the MQTT broker is running by typing at the terminal:
          br
          code.card.card2 ps -aux | grep mosquitto
          br
          | You should see an output looking something like:
          br
          code.card.card2 mosquit+ 302 0.3 1.0 8228 4500 ?     S  07:41 0:00 /usr/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf
          br
          | But the process numbers will be different. Now test the MQTT broker by subscribing to a topic:
          br
          code.card.card2 mosquitto_sub -h 127.0.0.1  -t chit/chat -u 
            i broker-name 
            | -P 
            i broker-password
          br
          | where:
        ul.card1-text
          li 
            b -h 
            | is the IP address of the broker (which is 127.0.0.1 right now since we are testing the 
            | example locally on the broker). 
            | Note that if your Raspberry Pi Zero is behind a firewall and you want to access the broker 
            | from outside the firewall (which you usually do):
            ul
              li you will need to setup up port forwarding on your home router. 
              li You will need to consult the manual for your router to do that.
              li The Port Number for the MQTT broker is the default 1883.
          li
            b -t 
            |  is the topic you wish to subscribe to (chit/chat in this example)
          li
            b -u 
            | is the broker name you chose for the MQTT broker previously
          li
            b -P 
            | is the password of the MQTT broker
        p.card1-text The program will now wait for messages. In another terminal window, login to the Raspberry Pi Zero and enter:
          br
          code.card.card2 mosquitto_pub -h 127.0.0.1 -t chit/chat -m "Hi there" -u 
            i broker-name 
            | -P 
            i broker-password
          br
          | Where -m is the message you would like to send to the broker 
          | (“Hi there” in this example). You should see in the terminal running mosquitto_sub the message echoed.
          br 
          br
          | Congratulations! You now have a function MQTT broker. 
          br
          | You can exit the mosquitto_sub program by typing 
          i Ctrl-c
          |.
      
      











        
        


        
        

        

        
     
