extends layout
block content
  .container 
    iframe(src='https://docs.google.com/presentation/d/e/2PACX-1vTRtcu31Cg1fK75MeyRtGBx8KBNNQowXRt-tzldjs7ZeobDEjiWsmu6qINzxa1tOmYHQQqikTcp8x4a/embed?start=true&loop=true&delayms=5000', frameborder='0', width='960', height='749', allowfullscreen='true', mozallowfullscreen='true', webkitallowfullscreen='true')
